<button type="button" class="btn btn-primary subscribe" data-toggle="modal" data-target="#exampleModal"
    data-whatever="@mdo">訂閱電子報</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">訂閱電子報</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="recipient-name" name="email">
                    </div>
                    <div class="form-group">
                        <span for="message-text" class="col-form-label" style="display: block;">偏好地點</span>
                        <input type="checkbox" id="place" name="place" value="huashan" name="place">
                        <label for="huashan">華山園區&nbsp;&nbsp;</label>
                        <input type="checkbox" id="place" name="place" value="songshan" name="place">
                        <label for="songshan">松山文創&nbsp;&nbsp;</label>
                        <input type="checkbox" id="place" name="place" value="science" name="place">
                        <label for="science">士林科教館&nbsp;&nbsp;</label>
                        <input type="checkbox" id="place" name="place" value="yuashan" name="place">
                        <label for="yuashan">花博園區&nbsp;&nbsp;</label>
                    </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">訂閱</button>
            </div> 
        </form>
        </div>
    </div>
</div>