<div class="all">
    <!-- end div 在script最上方 -->
    <div class="top">
    </div>
    <!-- topdiv 神秘小空間 end -->
    <div class="header">
        <div class="logo" onclick="location.href='/';">
            <img src="/images/a.png" class="logo">
        </div>
        <div class="title" onclick="location.href='/';">
            <h1 id="header">Ali's Activties' News</h1>
        </div>

        <ul class="titlePlace">
            <li class="titlePlace">
                <a style=" color:black; text-decoration: none" href="https://www.huashan1914.com/">華山園區</a>
            </li>
            <li class="titlePlace">
                <a style=" color:black; text-decoration: none" href="https://www.songshanculturalpark.org/">松山菸廠</a>
            </li>
            <li class="titlePlace">
                <a style=" color:black; text-decoration: none" href="https://www.ntsec.gov.tw/">科教館</a>
            </li>
            <li class="titlePlace">
                <a style=" color:black; text-decoration: none" href="http://www.expopark.taipei/index.aspx">花博園區</a>
            </li>

            <li class="titlePlace subscribe">
                訂閱電子報
            </li>
            

        </ul>

    </div>
    